/* Navigation Bar */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #464646;
    color: whitesmoke;
    font-size: 1.25em;
    font-weight: lighter;
}

.brand-title {
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
.restaurant-section{
  margin: auto;
  padding: 0 1rem;
  max-width: 1100px;
  text-align: center;
}

.head-restaurant{
  margin: 1.75rem auto;
  width: 150px;
  height: 150px;
  float: left;
}
.name-restaurant{
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(50, 50, 50);
  margin-bottom: .5rem;
  text-align: left
}
.body-restaurant{
  background-color: rgb(238, 238, 238);
  padding: 3.5rem;
  box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
  text-align: left;
  text-decoration-style: dashed;
}

.restaurant-info{
  line-height: 2rem;
  letter-spacing: 1px;
  font-size: 2rem;
  color: rgb(0, 0, 0);
    
}

.restaurant{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;  
}

img-restaurant{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

